.banner {
    object-fit: contain;
    height: 448px;
}

.banner_containts {
    padding-top: 140px;
    height: 190px;
}

.banner_tittle {
    font-size: 3em;
    padding-bottom: 0.3rem;
}

.banner_Descriptions {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner_btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_btn:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: all 0.2s;
}

.banner_faded {
    padding-top: 260px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}
@media(max-width: 399px){
    .banner_tittle {
        font-size: 3em;
        padding-bottom: 0.3rem;
        text-align: center;
        font-weight: 900;
    }
    .banner_Descriptions{
        display: none;
    }
    .banner_btn {
        cursor: pointer;
        color: #fff;
        outline: none;
        border: 1px solid black;
        border-radius: 0.2vh;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5em;
        background-color: rgb(77, 73, 73);
    }
}