.nav {
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.nav__logo{
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar{
    right: 20px;
    width: 30px;
    object-fit: contain;
}